#link{
    font-size: 80px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    text-decoration: none;
    color: #6100C2;
} 
.container {
    background-color: #e4caff;
    border: 5px solid #6100C2;
}

.col-lg-4{
    border: 0.5px solid #6100C2;
}
.col-lg-6{
    border: 0.5px solid #6100C2;
}


body{
    background-color: #6100C2;
    color: #6100C2;
}

#description{
    font-weight:100;
    font-family: "Helvetica Neue";
    font-size: 25px;

}

h4{
    font-size: 50px;
}